@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


html{
  text-decoration-style: none;  
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {

  font-family: 'QuickSand',sans-serif;
  text-decoration: none;
    background-color: #FFf;
}

.wrapper {
  width: 95%; 
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: transparent;
  color: white;
  position: relative;
  padding: 1em 0;
}

li a{
  color: black ;
  text-decoration: none;
}
header::after {
  content: "";
  clear: both;
  display: block;
}


.signup{
      font-weight: 600;
      border: none;
      outline: none;
      background-color: red;
      color: #ffffff;
      border-radius: 25px;
      cursor: pointer;
      padding: 9px 13px 9px 13px;
      transition: all 0.3s ease 0s;
      top: 300px;
}
.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  cursor: pointer;
}

.logo span {
  font-weight: 400;
}

.main-nav {
 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: black;
  height: 0;
  overflow: hidden;
  color: black;
}

.main-nav-open {
  height: auto;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav li {
  border-bottom: 1px solid #575766;
}

.main-nav li:last-child {
  border-bottom: none;
} 



.main-nav a {
  background-color: white;
  display: block;
  padding: 1em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav a:hover,
.main-nav a:focus{
 
  color: red; 
  text-decoration: none;
}

.nav-icon {
  display: inline-block;
  font-size: 1.3em;
  margin-right: .5em;
  text-align: center;
  width: 1.1em;
  color: rgba(255,255,255,0.45);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.2em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after{
  content: "";
  display: block;
  background: red;
  height: 3px;
  width: 1.75em;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg) ;
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: rotate(90deg) translateY(3px);
}

@media only screen and (min-width: 700px){
  .menu-toggle {
    display: none;
  }
  
  .main-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
  }
  
  .main-nav li {
    display: inline-block;
    border: none;
  }
  
  .main-nav a {
    padding: 0;
    margin-left: 2em;
  }
  
  .main-nav a:hover,.main-nav a:focus {
    background: transparent;
  }
  
  .nav-icon {
    display: none;
  }


}




.new {
  font-size: 40px;
  font-weight: 600;
  border: 3px solid #fff;
  padding: 10px 20px;
  margin-bottom: 40px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  background-image: url(bg-tablet-pattern.svg);

}

#result {
  font-size: 36px;
  color: #000;

}

#ans {
  color: #000;
  padding: 20px;
  font-size: 26px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 0; 
}

#ans:focus {
  outline: 0;
  outline-offset: 0;
}

/* landing */

.btn-hero a{
  color: white;
}

.btn-hero a:hover{
  color: white;
  text-decoration: none;
}

.btn-hero {
      font-weight: 600;
      border: none;
      outline: none;
      background-color: red;
      color: #ffffff;
      border-radius: 25px;
      cursor: pointer;
      padding: 18px 60px 18px 60px;
      transition: all 0.3s ease 0s;
  }

  .btn-hero:hover {
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .container {
      padding: 0px 70px 70px 70px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .img-hero {
      width: 50%;
      height: auto;
  }

  .title-hero {
      width: 60%;
      font-weight: 700;
      margin-bottom: 25px;
  }

  .sub-hero {
      width: 75%;
      margin-bottom: 25px;
      color: #808080;
  }


  /* arrow*/

.mouse {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #f05f40;
  bottom: 20px;
  left: 50%;
  margin-left: -13px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #f05f40;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(16px);
    -ms-transform: translateY(16px);
    transform: translateY(16px);
  }
}


/* js bot button*/
.hospitals {
      font-weight: 600;
      border: none;
      outline: none;
      background-color: red;
      color: #ffffff;
      border-radius: 25px;
      cursor: pointer;
      padding: 18px 60px 18px 60px;
      transition: all 0.3s ease 0s;
      top: 300px;
    }

  .hospitals a:hover {
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

.container p{
  font-size: 2rem;
}
/* tracker*/
.tracker{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #27496d;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}


.containerx{
    width: 400px;
    height: auto;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3),
    -1px -1px 3px rgba(0,0,0,0.3);
    background-color: #ececec;
    background-image: url("https://www.transparenttextures.com/patterns/greyzz.png");
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.3rem;
}

.containerx .btn{
    display: block;
    width: 100%;
    margin-top: 2rem;
}

.report{
    display: flex;
    flex-direction: column;
}

#stat{
    text-align: center;
    text-transform: uppercase;
}

.report .data{
    width: auto;
    margin: 0.3rem;
    box-shadow: .5px 0.5px 3px rgba(0,0,0,0.3),
    -0.5px -0.5px 3px rgba(0,0,0,0.3);
}

.report .data i,.report .data span{
    padding: 10px;
    font-size: 2rem;
    width: 40px;
    text-align: center;
}

.report .data span{
    float: right;
    width: 90px;
    text-align: center;
}

.report .data span {
    box-shadow: .1px 0.1px 2px rgba(0,0,0,0.3),
    -0.1px -0.1px 2px rgba(0,0,0,0.3);
}

.recovered{
    color: #f3c623;
}

.deaths{
    color: #d63447;
}




/* cards*/

.cards-list {
    background-image: url("b3.svg");
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.12);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.12), 
    -5px -5px 30px 15px rgba(0,0,0,0.15);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*form*/



form {
  margin:10% auto 0 auto;
  padding:70px;
  width:900px;
  height:auto;
  overflow:hidden;
  background:white;
  border-radius:10px;

}

form label {
  font-size:14px;
  color:darkgray;
  cursor:pointer;
}

form label,
form input {
  float:left;
  clear:both;
}

form input {
  margin:15px 0;
  padding:15px 10px;
  width:100%;
  outline:none;
  border:1px solid #bbb;
  border-radius:20px;
  display:inline-block;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
    -webkit-transition:0.2s ease all;
     -moz-transition:0.2s ease all;
      -ms-transition:0.2s ease all;
       -o-transition:0.2s ease all;
          transition:0.2s ease all;
}

form input[type=text]:focus,
form input[type="email"]:focus {
  border-color:cornflowerblue;
}

input[type=submit] {
  padding:15px 50px;
  width:auto;
  background:#1abc9c;
  border:none;
  align-self: center;
  align-items: center;
  margin: auto;
  color:white;
  cursor:pointer;
  display:inline-block;
  -webkit-transition:0.2s ease all;
     -moz-transition:0.2s ease all;
      -ms-transition:0.2s ease all;
       -o-transition:0.2s ease all;
          transition:0.2s ease all;
}

input[type=submit]:hover {
  opacity:0.8;
}

input[type="submit"]:active {
  opacity:0.4;
}

@media only screen and (max-width: 500px){
  form{
    width: 400px;
  }

 .container{
    font-size: 14px;
  } 
}

/*

.forgot,
.register {
  margin:10px;
  float:left;
  clear:left;
  display:inline-block;
  color:cornflowerblue;
  text-decoration:none;
}

.forgot:hover,
.register:hover {
  color:darkgray;
}*/

.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
    
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: bold;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

